.list-group-item {
    width: 160px;
    height: 160px;
    border: 10px; 
    margin: 5px,5px,5px,5px;
}

.images {
    height: 160px;
    width: 160px;
    border-style: solid;
    border-width: 0px; 
    border-radius: 4px;
    padding: 0px;
    margin: 10px;
}

