
.navbar li {
    display: inline-block;
    height: 70px;
    text-align: center;
    /* background: gray; */
}

#scoreId {
    position: relative;
    margin-left: 150px;
    font-size: 20px;
    padding: 0px;
}
#headerId {
    position: relative;
    font-size: 20px;
    top: 10px;
    margin-left: 200px;
}

#titleId {
    font-size: 30px;
}

.navbar {
    /* background: gray; */
    margin: 0px;
    /* box-shadow: 5px 5px gray; */
    
}
